@charset "utf-8";
.poster{background: url(../images/poster.png) no-repeat top center;height: 682px;position: relative;}
.poster > div{width: 1200px;height: 682px;margin: 0 auto;padding-top: 75px;}
.poster .mobile{margin: 0 auto;display: block;animation:getUp 2s ease;}
.poster .mode{margin: 0 auto;display: block;margin-top: 34px;animation:getUp 2s ease;}
.poster .ball{margin: 0 auto;display: block;margin-top: 34px;animation:getShow 2s ease;}
.poster .crossLine{width: 708px;height: 2px;position: absolute;top:346px;z-index: 2;left: 358px;}
.poster .crossLine:after{content: "";height: 2px;background: #fff;width: 0%;position: absolute;bottom: 0px;left: 50%;animation:getLeftShow 1s ease forwards;}
.poster .crossLine:before{content: "";height: 2px;background: #fff;width: 0%;position: absolute;bottom: 0px;right: 50%;animation:getLeftShow 1s ease forwards;}
.poster .dot{width: 8px;height:8px;border-radius: 50%;opacity: 0;background: #fff;position: absolute;animation:getShow 0.5s ease 1s forwards;}
.poster .dot1{left: 350px;top:343px;}
.poster .dot2{right: 349px;top:343px;}
.poster .ppjz{opacity: 0;position: absolute;top: 305px;left: 367px;animation:getShow 2s ease 1s forwards;}
.poster .yxsds{opacity: 0;position: absolute;top: 305px;right: 367px;animation:getShow 2s ease 1s forwards;}
.poster .hdtg{opacity: 0;position: absolute;top: 425px;left: 120px;animation:getShow 1.5s ease 1.2s forwards;}
.poster .sssl{opacity: 0;position: absolute;top:440px;left: 190px;animation:getShow 2s ease 1.5s forwards;}
.poster .line_01{height: 38px;width: 2px;position: absolute;top: 487px;left: 153px;}
.poster .line_01:before{content: "";width: 2px;background: #fff;height: 0%;position: absolute;bottom: 100%;bottom: 0px;animation:getLeftShow2 0.5s ease 0.7s forwards;}
.poster .line_02{height: 2px;width: 200px;position: absolute;top: 525px;left: 353px;}
.poster .line_02:before{content: "";height: 2px;background: #fff;width: 0%;position: absolute;right: 100%;bottom: 0px;animation:getLeftShow1 0.5s ease 0.2s forwards;}
.poster .dot3{opacity: 0;width: 8px;height:8px;border-radius: 50%;background: #fff;position: absolute;z-index: 2;animation:getShow 0.2s ease forwards;}
.poster .dot_01{left: 353px;top: 522px;}
.poster .xstd{opacity: 0;position: absolute;top: 450px;left: 920px;animation:getShow 1.5s ease 1.2s forwards;}
.poster .kszj{opacity: 0;position: absolute;top:465px;left:990px;animation:getShow 2s ease 1.5s forwards;}
.poster .line_03{height: 30px;width: 2px;position: absolute;top: 511px;left: 950px;}
.poster .line_03:before{content: "";width: 2px;background: #fff;height: 0%;position: absolute;bottom: 100%;bottom: 0px;animation:getLeftShow2 0.5s ease 0.7s forwards;}
.poster .line_04{height: 2px;width: 170px;position: absolute;top: 541px;left: 612px;}
.poster .line_04:before{content: "";height: 2px;background: #fff;width: 0%;position: absolute;left: 100%;bottom: 0px;animation:getLeftShow1 0.5s ease 0.2s forwards;}
.poster .dot_02{right: 640px;top: 538px;}
.poster .khxs{opacity: 0;position: absolute;top: 580px;left: 700px;animation:getShow 1.5s ease 1.2s forwards;}
.poster .qshq{opacity: 0;position: absolute;top:595px;left:770px;animation:getShow 2s ease 1.5s forwards;}
.poster .line_05{height: 2px;width: 190px;position: absolute;top: 610px;left: 321px;}
.poster .line_05:before{content: "";height: 2px;background: #fff;width: 0%;position: absolute;left: 100%;bottom: 0px;animation:getLeftShow1 0.5s ease 0.2s forwards;}
.poster .dot_03{left: 503px;top: 607px;}
.wmsc{background:url(../images/wmsc.png) no-repeat top center;height: 752px;position: relative;overflow: hidden;background-size: 100% 100%;}
.wmsc .a_button{display: block;width: 110px;height: 36px;border-radius: 18px;background: #fff;font-size: 20px;line-height: 36px;color: #f14a65;position: absolute;left: 490px;top:110px;text-align: center;}
.wmsc .wmsc_content{width: 1200px;height: 530px;position: absolute;left: 110px;top:222px;}
.wmsc .wmsc_content ul li{float: left;width: 282px;height: 530px;padding-top: 20px;}
/*.wmsc .wmsc_content ul .li_01 img{animation:getLeft3 0.5s ease;}
.wmsc .wmsc_content ul .li_02 img{animation:getbottom3 0.5s ease;}
.wmsc .wmsc_content ul .li_03 img{animation:getright3 0.5s ease;}*/
.wmsc .wmsc_content ul .li_02{margin: 0 175px;}
.wmsc .wmsc_content ul li img{margin: 0 auto;display: block;transform:translateY(0px);transition:all 0.3s ease;}
.wmsc .wmsc_content ul li p{background: #403f3e;width: 282px;height: 180px;margin-top: 92px;transform:translateY(180px);transition:all 0.3s ease;color: #c6c5c5;font-size: 18px;}
.wmsc .wmsc_content ul li:hover img{transform:translateY(-30px);}
.wmsc .wmsc_content ul li:hover p{transform:translateY(0px);}
.wmdys{background:url(../images/wmdys.png) no-repeat top center;background-size: 100% 100%;height: 1052px;position: relative;}
.wmdys .build{width: 880px;height: 1010px;position: relative;}
.wmdys .shadow{width: 418px;height: 426px;background:url(../images/yinying.png) no-repeat;position: absolute;right: 100px;top:200px;}
.wmdys .zhi{transition:all 0.3s ease;position: absolute;}
.wmdys .zhi:hover{transform:scale(1.1);}
.wmdys .pinzhi{top:125px;right: 200px;}
.wmdys .jiazhi{top:252px;right: 70px;}
.wmdys .xingzhi{top:380px;right: 200px;}
.wmdys .jizhi{top:252px;right: 325px;}
.wmdys .box{width: 450px;height: 128px;position: absolute;bottom: 100px;right: 100px;background:url(../images/box.png) no-repeat bottom center;}
.wmdys .box div{width: 417px;height: 112px;position: absolute;left: 16px;overflow: hidden;}
.wmdys .box p{width: 377px;height: 72px;padding:20px;background-color: #f3f3f3;position: absolute;color: #666;transform:translateY(112px);transition:all .8s ease;font-size: 18px;line-height: 36px;}



.tmyhs{height: 880px;background:url(../images/number4.png) no-repeat center center;position: relative;}
.tmyhs .tm_title{height: 142px;width: 1200px;margin: 0 auto;}
.tmyhs .tm_title img{margin: 40px 0 0 51px;}
.tmyhs .tm_title .a-syal{display: block;width: 110px;height: 36px;border-radius: 18px;background: #fff;font-size: 20px;line-height: 36px;color: #f14a65;position: absolute;right: 210px;top:86px;text-align: center;}
.tmyhs .tm_content{width: 1004px;height: 500px;margin:0 auto;position: relative;}
.tmyhs .tm_content .img_01{position: absolute;transition: all 0.1s ease;}
.tmyhs .tm_content .img_01:hover{transform:scale(1.05);}
.tmyhs .tm_content .img_02{position: absolute;transition: all 0.1s ease;left: 168px;}
.tmyhs .tm_content .img_02:hover{transform:scale(1.05);}
.tmyhs .tm_content .img_03{position: absolute;transition: all 0.1s ease;left: 336px;}
.tmyhs .tm_content .img_03:hover{transform:scale(1.05);}
.tmyhs .tm_content .img_04{position: absolute;transition: all 0.1s ease;left: 673px;}
.tmyhs .tm_content .img_04:hover{transform:scale(1.05);}
.tmyhs .tm_content .img_05{position: absolute;transition: all 0.1s ease;top: 168px;}
.tmyhs .tm_content .img_05:hover{transform:scale(1.05);}
.tmyhs .tm_content .img_06{position: absolute;transition: all 0.1s ease;top: 336px;left: 336px;}
.tmyhs .tm_content .img_06:hover{transform:scale(1.05);}
.tmyhs .tm_content .img_07{position: absolute;transition: all 0.1s ease;top: 336px;left: 504px;}
.tmyhs .tm_content .img_07:hover{transform:scale(1.05);}
.tmyhs .tm_content .img_08{position: absolute;transition: all 0.1s ease;top: 168px;left: 672px;}
.tmyhs .tm_content .img_08:hover{transform:scale(1.05);}
.tmyhs .tm_content .img_09{position: absolute;transition: all 0.1s ease;top: 168px;left: 840px;}
.tmyhs .tm_content .img_09:hover{transform:scale(1.05);}
.tmyhs .saySomething{overflow: hidden;transition: width 0.3s ease;width:0px;height: 113px;background: #3d3d3d;position: absolute;bottom:71px;left: 162px;}
.tmyhs .saySomething .mask{width: 0px;height: 0px;border-left: 98px solid #f4758a;border-bottom: 57px solid #f4758a;border-top: 57px solid transparent;border-right: 98px solid transparent;position: absolute;}
.tmyhs .saySomething p{width: 930px;float: right;line-height: 1.8;color: white;}





.pbyqcz{height: 620px;position: relative;}
.pbyqcz .pb_title{position: absolute;left: -200px;z-index: 2;}
.pbyqcz .leftArrow{position: absolute;top:265px;left: 50px;width: 60px;height: 140px;background: red;font-size: 70px;background: rgba(0,0,0,0);color: rgb(0,0,0);opacity: 0.1;cursor: pointer;}
.pbyqcz .rightArrow{position: absolute;top:265px;right: 50px;width: 60px;height: 140px;background: red;font-size: 70px;background: rgba(0,0,0,0);color: rgb(0,0,0);opacity: 0.1;cursor: pointer;}
.pbyqcz .pb_content{width: 1004px;height: 332px;position: absolute;top:167px;left: 180px;overflow: hidden;}
.pbyqcz .pb_content ul{width:1610px;}
.pbyqcz .pb_content li{float: left;height: 110px;width: 200px;}
.pbyqcz .pb_content li img{width: 200px;height: 110px;opacity: 0;}
.pbyqcz .pb_content li img.addEffect{animation:getShow 2s ease forwards;}
.pbyqcz .pb_content .li_01{border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.pbyqcz .pb_content .li_02{border-bottom: 1px solid #ccc;}
.pbyqcz .pb_content .li_03{border-right: 1px solid #ccc;}





